{% extends 'base.html' %}

{% block title %}Checkout | {% endblock %}

{% block content %}

    <!-- Checkout Start -->
        {% if user != 'AnonymousUser' %}

        <div class="checkout">
            <div  class="container-fluid">
            <form id="payment-form">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="checkout-inner">
                            <div class="billing-address">
                                <h2>Billing Address</h2>
                                <div class="row">
                                    <div class="col-md-6 user-info">
                                        <label>First Name</label>
                                        <input class="form-control" name="firstName" type="text" placeholder="First Name">
                                    </div>
                                    <div class="col-md-6 user-info">
                                        <label>Last Name</label>
                                        <input class="form-control" name="lastName" type="text" placeholder="Last Name">
                                    </div>
                                    <div class="col-md-6 user-info">
                                        <label>E-mail</label>
                                        <input class="form-control" name="email" type="text" placeholder="E-mail">
                                    </div>
                                    <div class="col-md-6 user-info">
                                        <label>Mobile No</label>
                                        <input class="form-control" name="mobileNumber" type="text" placeholder="Mobile No">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Address</label>
                                        <input class="form-control" name="address" type="text" placeholder="Address">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Country</label>
                                        <input class="form-control" name="country" type="text" placeholder="Country">
                                    </div>
                                    <div class="col-md-6">
                                        <label>City</label>
                                        <input class="form-control" name="city" type="text" placeholder="City">
                                    </div>
                                    <div class="col-md-6">
                                        <label>State</label>
                                        <input class="form-control" name="state" type="text" placeholder="State">
                                    </div>
                                    <div class="col-md-6">
                                        <label>ZIP Code</label>
                                        <input class="form-control" name="zip" type="text" placeholder="ZIP Code">
                                    </div>

                                    <div class="col-md-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="shipto">
                                            <label class="custom-control-label" for="shipto">Ship to different address</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

{#                            <div class="shipping-address">#}
{#                                <h2>Shipping Address</h2>#}
{#                                <div class="row">#}
{#                                    <div class="col-md-6 user-info">#}
{#                                        <label>First Name</label>#}
{#                                        <input class="form-control" name="firstName" type="text" placeholder="First Name">#}
{#                                    </div>#}
{#                                    <div class="col-md-6 user-info">#}
{#                                        <label>Last Name"</label>#}
{#                                        <input class="form-control" name="lastName" type="text" placeholder="Last Name">#}
{#                                    </div>#}
{#                                    <div class="col-md-6 user-info">#}
{#                                        <label>E-mail</label>#}
{#                                        <input class="form-control" name="email" type="text" placeholder="E-mail">#}
{#                                    </div>#}
{#                                    <div class="col-md-6 user-info">#}
{#                                        <label>Mobile No</label>#}
{#                                        <input class="form-control" name="mobileNumber" type="text" placeholder="Mobile No">#}
{#                                    </div>#}
{#                                    <div class="col-md-12">#}
{#                                        <label>Address</label>#}
{#                                        <input class="form-control" name="address" type="text" placeholder="Address">#}
{#                                    </div>#}
{#                                    <div class="col-md-6">#}
{#                                        <label>Country</label>#}
{#                                        <input class="form-control" name="country" type="text" placeholder="Country">#}
{#                                    </div>#}
{#                                    <div class="col-md-6">#}
{#                                        <label>City</label>#}
{#                                        <input class="form-control" name="city" type="text" placeholder="City">#}
{#                                    </div>#}
{#                                    <div class="col-md-6">#}
{#                                        <label>State</label>#}
{#                                        <input class="form-control" name="state" type="text" placeholder="State">#}
{#                                    </div>#}
{#                                    <div class="col-md-6">#}
{#                                        <label>ZIP Code</label>#}
{#                                        <input class="form-control" name="zip" type="text" placeholder="ZIP Code">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout-inner">
                            <div class="checkout-summary">
                                <h1>Cart Total</h1>
                                {% for item in items %}
                                <p>{{ item.product.title }}<span>{{ item.product.price }}</span></p>
                                {% endfor %}
                                <p class="sub-total">Number of Items<span>{{ order.get_cart_items }}</span></p>
                                <h2>Grand Total<span>{{ order.get_cart_total | floatformat:2 }}</span></h2>
                            </div>

                            <div class="checkout-payment">
                                <div class="payment-methods">
                                    <h1>Payment Methods</h1>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-1" name="payment">
                                            <label class="custom-control-label" for="payment-1">Paypal</label>
                                        </div>
                                        <div class="payment-content" id="payment-1-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-2" name="payment">
                                            <label class="custom-control-label" for="payment-2">Payoneer</label>
                                        </div>
                                        <div class="payment-content" id="payment-2-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-3" name="payment">
                                            <label class="custom-control-label" for="payment-3">Check Payment</label>
                                        </div>
                                        <div class="payment-content" id="payment-3-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-4" name="payment">
                                            <label class="custom-control-label" for="payment-4">Direct Bank Transfer</label>
                                        </div>
                                        <div class="payment-content" id="payment-4-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-5" name="payment">
                                            <label class="custom-control-label" for="payment-5">Cash on Delivery</label>
                                        </div>
                                        <div class="payment-content" id="payment-5-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div id="make-payment" class="checkout-btn">
                                    <button>Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>

        {% endif %}
        <!-- Checkout End -->

    <script type="text/javascript">
        var total = '{{ order.get_cart_total }}'
        var shipping = '{{ order.shipping }}'
        var form = document.getElementById('payment-form')
        if(user !== 'AnonymousUser'){
            //document.getElementsByClassName(".user-info").style.display = 'hidden';
            var elems = document.getElementsByClassName('user-info');
                for (var i=0;i<elems.length;i+=1){
                elems[i].style.display = 'hidden';
}
        }
        document.getElementById('make-payment').addEventListener('click', function (e){
            submitFormData()
        })

        function submitFormData(){
            console.log('Payment Button Clicked')

            var userFormData = {
                'firstName': null,
                'lastName': null,
                'email': null,
                'mobileNumber': null,
                'total':total
            }
            var shippingInfo = {
                'address': null,
                'country':null,
                'city':null,
                'state':null,
                'zip':null
            }

            if (shipping !== 'False'){
                shippingInfo.address = form.address.value
                shippingInfo.country = form.country.value
                shippingInfo.city = form.city.value
                shippingInfo.state = form.state.value
                shippingInfo.zip = form.zip.value
                console.log(shippingInfo.address)
            }

            if (user === 'AnonymousUser'){
                userFormData.firstName = form.firstName.value
                userFormData.lastName = form.lastName.value
                userFormData.email = form.email.value

            }

            var url = '/processOrder/'
            fetch(url,{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body: JSON.stringify({'form':userFormData, 'shipping':shippingInfo})
            })
            .then((response)=>response.json())
            .then((data)=>{
                console.log('Success',data);
                alert('Transaction completed');
                window.location.href = "{% url 'home' %}"
            })
        }
    </script>

{% endblock %}