{% extends 'base.html' %}

{% block title %}Products | {% endblock %}

{% block content %}

    {% block span %}
        <span> ({{ cartItems }})</span>
    {% endblock %}

     <!-- Product List Start -->
        <div class="product-view">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                        {% for product in products %}
                            <div class="col-md-4">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="{{ product.id }}">{{ product.title }}</a>
                                    </div>
                                    <div class="product-image">
                                        <a href="{{ product.id }}">
                                            <div style="width: 392px;height: 300px">
                                                <img src="{{ product.imageURL }}" alt="Product Image">
                                            </div>
                                        </a>
                                        <div class="product-action">
                                            <a class="update-cart" data-product="{{ product.id }}" data-action="add" href="#"><i class="fa fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>$</span>{{ product.price }}</h3>
                                        <a class="btn" href="{{ product.id }}"><i class="fa fa-shopping-cart"></i>View Product</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                        <!-- Pagination Start -->
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Pagination End -->
                    </div>

                    <!-- Side Bar Start -->
                    <div class="col-lg-3 sidebar">
                        <div class="sidebar-widget category">
                            <h2 class="title"><i class="fas fa-list-ul"></i> Category</h2>
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">
                                    {% for category in categories %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">{{ category.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>

                        <div class="sidebar-widget widget-slider">
                            <h2 class="title"><i class="far fa-clock"></i> Newest Product</h2>
                            <div class="sidebar-slider normal-slider">
                                {% for product in products_new %}
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">{{ product.title }}</a>
                                    </div>
                                    <div class="product-image">
                                        <a href="{{ product.id }}">
                                            <img src="{{ product.imageURL }}" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a class="update-cart" data-product="{{ product.id }}" data-action="add" href="#"><i class="fa fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>$</span>{{ product.price }}</h3>
                                        <a class="btn" href="{{ product.id }}"><i class="fa fa-shopping-cart"></i>View Product</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
        <!-- Product List End -->


{% endblock %}

